@import './../../libs/base-imports.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.buttons {
    display: flex;
    gap: calc(100% / 4);
    margin-left: calc(100% / 40);
}

.userLogo {
    cursor: pointer;
    margin-right: calc(100% / 55);
    display: flex;
    align-items: center;
}

.button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: calc(100% / 55);
}

.button:hover, .userLogo:hover {
    transform: scale(0.9);
    transition: transform 0.5s ease;
}

.button p {
    color: white;
    font-size: 20px;
    margin-bottom: 5px !important;
    font-family: 'Montserrat', sans-serif;
}

hr {
    background-color: rgb(255, 255, 255) !important;
    height: 2px !important;
    width: 80px !important;
    opacity: 1 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.userLogo i {
    color: white;
    font-size: 40px;
    display: flex;
}

.userName {
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0;
    margin-right: 10px;
}

.userLogoImg { 
    width: 32px !important;
    height: 32px !important;
    border-radius: 50% !important;
}