@import './../../libs/base-imports.scss';

@media (max-width: 768px) {
    body, html {
      width: 1275px !important;
      height: 1365px !important;
    }
   
  }

.content {
    display: flex;
    flex-grow: 1 !important;
}

.left {
    margin-top: 1px;
    margin-bottom: 1px;
}


.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}