<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../components/sidebar/sidebar.scss">
    <title>Sidebar</title>
</head>
<body>

    <div class="sidebar">

        <div class="buttonsSidebar">

            <div class="buttonSidebar" onclick="window.location.href='./../../pages/dadosCadastrais/dadosCadastrais.php'">
                <p>Dados cadastrais</p>
                <hr class="hrSidebar">
            </div>
            <div class="buttonSidebar" onclick="">
                <p>Histórico de lances</p>
                <hr class="hrSidebar">
            </div>

        </div>

    </div>
    
</body>
</html>