<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../components/footer/footer.scss">
    <title>Footer</title>
</head>
<body>

    <footer>

        <a href="./../../pages/contato/contato.php">Contato</a>
        <a href="./../../pages/eventos/eventos.php">Eventos</a>
        <a href="">Leilões</a>
        <a href="./../../pages/login/login.php">Minha Conta</a>

    </footer>
    
</body>
</html>