@import './../../libs/base-imports.scss';

@media (max-width: 768px) {
    body, html {
      width: 1500px !important;
      height: 1620px !important;
    }
   
  }

.content {
    display: flex;
    flex-grow: 1 !important;
}


.right {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
}